/* BACKGROUND STUFF */

$background:#e7e7e7;

/* CARDS */
$background-dark:#bbb;
$border:#ddd;
$card-text-color:#222;

/* COLOUR CARDS */

$bomb-background:#d50000;

$pink:#E91E63;
$pink-dark:#AD1457;
$green:#8BC34A;
$green-dark:#43A047;
$yellow:#FFC107;
$yellow-dark:#FFA000;
$blue:#2196F3;
$blue-dark:#1565C0;
$purple:#AA00FF;
$purple-dark:#6A1B9A;

* {
  box-sizing:border-box;
  transition:.2s;
}

body{
  background:$background;
  font: 1.2rem 'Roboto', sans-serif;
  line-height:1.6rem;
}

.bomb-output{
  color:red;
}

table{
  border-spacing:10px;
}

td{
  color:rgba(60,60,60,1);
  background:$background-dark;
  border-radius:6px;
  width:63px;
  height:63px;
  text-align:right;
  box-shadow:0 2px 2px rgba(0,0,0,.4);
  font-size:2rem;
  text-align:center;
  padding-left:3px;
}

td:hover{
  background:#aaa;
}